.StopMotion {
	margin: 10px auto;
	width: 90%;
}

.StopMotion__title {
	font-size: 20px;
	text-align: center;
}

.StopMotion div {
	position: relative;
}

.StopMotion__image {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.StopMotion__toggle {
	background-color: transparent;
	border: none;
	bottom: calc(50% - 40px);
	height: 80px;
	left: calc(50% - 40px);
	position: absolute;
	width: 80px;
}

.StopMotion__toggle--playing {
	display: none;
}

.StopMotion:hover .StopMotion__toggle--playing,
.StopMotion__toggle--playing.StopMotion__toggle--rampUp {
	display: inherit;
}

.StopMotion:hover .StopMotion__toggle--playing {
	display: inherit;
}

.StopMotion__description {
	background-color: #470a0a;
	color: #FFE4E1;
	height: 58px;
	margin: 0;
	padding: 5px 15px;
}

.StopMotion__play,
.StopMotion__pause {
	height: 80px;
	left: 0;
	padding: 10px;
	position: absolute;
	top: 0;
}

@media (min-width: 470px) {
	.StopMotion {
		width: 300px;
	}
	
}