.Testing__list {
	list-style: none;
	padding: 0;
}

.Testing__sublist {
	padding: 0;
}

.Testing__sublist li {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	list-style: none;
	margin: 55px auto;
}

.Testing__sublist div {
	border-radius: 15px;
	padding: 15px;
}

.Testing__sublist div:first-of-type {
	background-color: #FFE4E1;
	color: #470a0a;
	font-weight: bold;
	text-align: center;
}

.Testing__sublist div:last-of-type {
	border: 1px solid #cb5382;
	box-shadow: 0 0 1em #cb5382;
}

.Testing__sublist .Testing__arrow {
	height: 36px;
	font-weight: bold;
	padding: 10px;
	transform: rotate(90deg);
	width: 36px;
}


@media (min-width: 640px) {
	.Testing__sublist li {
		flex-direction: row;
		margin: 30px auto;
	}
	
	.Testing__sublist div:first-of-type {
		width: 30%;
	}

	.Testing__sublist div:last-of-type {
		width: 60%;
	}
	
	.Testing__sublist .Testing__arrow {
		height: inherit;
		padding: 15px;
		transform: rotate(0);
		width: inherit;
	}
}