.Testing__list {
	list-style: none;
	padding: 0;
}

.Testing__sublist {
	padding: 0;
}

.Testing__sublist li {
	align-items: center;
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 30px auto;
}

.Testing__sublist div {
	border-radius: 15px;
	padding: 15px;
}

.Testing__sublist div:first-of-type {
	background-color: #FFE4E1;
	color: #470a0a;
	font-weight: bold;
	text-align: center;
	width: 30%;
}

.Testing__sublist div:last-of-type {
	border: 1px solid #cb5382;
	box-shadow: 0 0 1em #cb5382;
	width: 60%;
}

.Testing__arrow {
	font-weight: bold;
}