.NaturalLook__heading {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.NaturalLook__heading-image {
	align-items: center;
	display: flex;
	flex-grow: 0;
	flex-shrink: 6;
	max-width: 180px;
	min-width: 15%;
}

.NaturalLook__heading img {
	width: 100%;
}

.NaturalLook__heading-text {
	color: #cb0e40;
	flex-grow: 6;
	flex-shrink: 1;
	font-size: 30px;
	margin: 0 auto;
	padding: 30px 0;
	text-align: center;
	text-transform: uppercase;
	max-width: 70%;
}

.NaturalLook__description {
	color: #808080;
	font-style: italic;
}

.NaturalLook__description-title {
	font-weight: bold;
}

.NaturalLook__detail-photos {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
}

.NaturalLook__detail-photo {
	margin: 10px auto;
	max-width: 250px;
	width: 90%;
}

@media (min-width: 700px) {
	.NaturalLook__heading-text {
		max-width: 500px;
		
	}
}