@font-face {
  font-family: 'MagnoliaScript';
  src:  url('./fonts/magnolia_script-webfont.woff2') format('woff2'),
        url('./fonts/magnolia_script-webfont.woff') format('woff');
}

* {
	box-sizing: border-box;
}

html {
	background-color: #333;
	background-image: url(./photos/Backgrounds/Chalkboard.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	width: 90%;
	max-width: 700px;
	padding: 50px;
	margin: 0 auto;
	background-color: #fff;
	font: 1em sans-serif;
	line-height: 1.5;
}

.Header__menu {
	display: flex;
	justify-content: space-between;
	padding: 0;
}

.Header__menu li {
	list-style: none;
	padding: 10px 15px;
}

.Header__heading {
	font-family: 'MagnoliaScript', 'Helvetica', sans-serif;
	font-size: 50px;
	text-align: center;
}

