@font-face {
  font-family: 'MagnoliaScript';
  src:  url('./Fonts/magnolia_script-webfont.woff2') format('woff2'),
        url('./Fonts/magnolia_script-webfont.woff') format('woff');
}

* {
	box-sizing: border-box;
}

html,
body {
	overflow-x: hidden;
	width: 100%;
}

body {
	background-color: #fff;
	font-family: 'Helvetica Neue', sans-serif;
	line-height: 1.5;
	margin: 0 auto;
	max-width: 700px;
	padding: 20px;
	position: relative;	
}

@media only screen and (min-width: 700px) {
	html {
		background-image: url(./Photos/Backgrounds/Chalkboard.jpg);
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	body {
		padding: 0 40px 40px;
		width: 90%;
	}
}